name: Deploy GitHub Pages

on:
  push:
    branches: [ "main" ]

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Generate config.js
        run: |
          mkdir -p assets
          echo "const URLS = {" > assets/config.js
          echo "  app1: '${{ secrets.APP1_URL }}'," >> assets/config.js
          echo "  app2: '${{ secrets.APP2_URL }}'," >> assets/config.js
          echo "  app3: '${{ secrets.APP3_URL }}'" >> assets/config.js
          echo "};" >> assets/config.js

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: .